@import 'components/normalize';
@import 'components/base';
@import 'components/typography';
@import 'components/mediaqueries';

body {
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  background: $beige;
  border-width:8px;
  border-style:double;
  border-color: $red;
  margin:10px;
  position: relative;
}

header {
  padding:40px;
  nav ul {
    margin-right:100px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    a {
      text-decoration: none;
      margin-right:20px;
      color: $black;
      transition: all 0.3s ease;
      &:hover {
        color: $red;
      }
    }
  }
}

img {
  max-width: 100%;
}

.cart {
  background: $red;
  padding:5px 25px;
  position: fixed;
  width:250px;
  top:0px;
  right:-50px;
  transform: rotate(-90deg) skew(40deg);
  transition: all 0.3s ease;
  p {
    color:$black;
    transform: skew(-40deg);
  }
  &:hover {
    cursor: pointer;
    top:40px;
  }
}

.wrapper {
  max-width: 980px;
  width:80%;
	margin: 0 auto;
	display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.potionInfo,
.charmInfo,
.curseInfo {
  padding:10px;
  margin:20px;
  position: relative;
}

#potions,
#charms,
#curses {
  margin-bottom:150px;
}

.container {
  margin:20px;
  width:200px;
  height:200px;
  background-color: $soft-red;
  box-shadow: 5px 5px $black, 4px 4px $black, 3px 3px $black, 2px 2px $black, 1px 1px $black;
  margin-bottom: 200px;
}

.prod-description {
  padding:10px 0;
  margin-top:20px;
  border-top-style: double;
  border-top-color: $black;
  border-top-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: $black;
  border-bottom-width: 1px;
  .add-to-cart {
    border-radius:3px;
    font-family: $body-font;
    border:none;
    background:darken($beige, 20);
    padding:10px 15px;
    transition: all 0.3s ease;
    &:hover {
      background: lighten($beige, 5);
    }
  }
}

.coven-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.witch {
  padding:10px;
  max-width:300px;
}

.img-container {
  max-width: 300px;
  max-height: 180px;
  overflow: hidden;
  img {
    object-fit:fill;
    filter:sepia(60%);
  }
}

#shopping-cart {
  display:none;
  position: fixed;
  z-index:10;
  left:0;
  top:0;
  width: 100%;
  height:100%;
  background-color:rgba(0,0,0,0.4);
}

.shopping-cart-content {
  position: relative;
  margin:15% auto;
  background:lighten($beige, 10);
  box-shadow: 5px 5px $black, 4px 4px $black, 3px 3px $black, 2px 2px $black, 1px 1px $black;
  padding:10px;
  width:72%;
}

.table {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  ul {
    list-style: none;
  }
}

.fade-in-fwd {
	-webkit-animation: fade-in-fwd 0.4s ease-in both;
  animation: fade-in-fwd 0.4s ease-in both;
}

/* ----------------------------------------------
 * Generated by Animista on 2018-3-31 17:30:5
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-fwd
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}


.close {
  color:$black;
  position: absolute;
  top:0px;
  right:5px;
  font-size:3rem;
  font-weight: bold;
  &:hover, &:focus {
    color:$red;
    cursor: pointer;
  }
}

.fade-out-bck {
	-webkit-animation: fade-out-bck 0.4s ease-out both;
  animation: fade-out-bck 0.4s ease-out both;
}

@-webkit-keyframes fade-out-bck {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
}
@keyframes fade-out-bck {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
}





footer {
  max-width:80%;
  background:$soft-red;
  border-width:8px;
  border-style:double;
  border-color: $black;
  margin-bottom:10px;
  position: relative;
  padding:20px 0;
  bottom:-90px;
  left:10%;
  right:10%;
  ul {
    list-style: none;
    li {
      line-height: 40px;
    }
    a {
      text-decoration: none;
      color: darken($black, 20);
      transition: all 0.3s ease;
      &:hover {
        color: $beige;
      }
    }
  }
}

footer .wrapper {
  flex-wrap:wrap;
}

.connect {
  margin-left:25%;
}

.social a {
  text-decoration: none;
  color: darken($black, 20);
  transition: all 0.3s ease;
  &:hover {
    color: $beige;
  }
}

.connect {
  form {
    width:326px;
  }
  #email {
    background:$red;
    border-style: none;
    border-bottom: 2px solid $black;
    padding:10px;
    max-width:300px;
    width:72%;
    margin-bottom:40px;
  }
  #submit {
    background:$red;
    color:$black;
    border-style: none;
    padding:10px 15px;
    border-bottom: 2px solid $black;
    transition: all 0.3s ease;
    &:hover {
      background:$beige;
    }
  }
  h3 {
    color:$beige;
  }
}