article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

body {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 16px; }

h1 {
  font-size: 4rem;
  text-align: center;
  font-family: "Quattrocento", serif;
  color: #d24937;
  text-shadow: 4px 4px 0px #45423d, 3px 3px 0px #45423d, 2px 2px 0px #45423d, 1px 1px 0px #45423d; }

.title {
  width: 100%; }

.title::before {
  content: 'est. 1693';
  color: #45423d;
  text-shadow: none;
  font-size: 12px;
  margin-right: 12px; }

.title::after {
  content: 'Salem, MA';
  color: #45423d;
  text-shadow: none;
  font-size: 12px;
  margin-left: 14px; }

h2, h3 {
  text-align: center;
  color: #d24937;
  text-shadow: 1px 1px 0px #45423d;
  font-family: "Quattrocento", serif; }

#products h2 {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: 0%;
          transform-origin: 0%;
  text-align: left;
  position: absolute;
  left: -10px; }

.potionInfo h2 {
  top: 72px; }

.charmInfo h2 {
  top: 75px; }

.curseInfo h2 {
  top: 66px; }

.witch h3 {
  color: #d24937; }

@media (max-width: 1100px) {
  #potions .wrapper,
  #charms .wrapper,
  #curses .wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .words h2 {
    margin-left: 50%; }
  #about .wrapper .coven-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%; }
    #about .wrapper .coven-container p {
      width: 100%; }
  .connect {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: center; } }

body {
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  background: #c2baaa;
  border-width: 8px;
  border-style: double;
  border-color: #d24937;
  margin: 10px;
  position: relative; }

header {
  padding: 40px; }
  header nav ul {
    margin-right: 100px;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    header nav ul a {
      text-decoration: none;
      margin-right: 20px;
      color: #45423d;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      header nav ul a:hover {
        color: #d24937; }

img {
  max-width: 100%; }

.cart {
  background: #d24937;
  padding: 5px 25px;
  position: fixed;
  width: 250px;
  top: 0px;
  right: -50px;
  -webkit-transform: rotate(-90deg) skew(40deg);
          transform: rotate(-90deg) skew(40deg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .cart p {
    color: #45423d;
    -webkit-transform: skew(-40deg);
            transform: skew(-40deg); }
  .cart:hover {
    cursor: pointer;
    top: 40px; }

.wrapper {
  max-width: 980px;
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.potionInfo,
.charmInfo,
.curseInfo {
  padding: 10px;
  margin: 20px;
  position: relative; }

#potions,
#charms,
#curses {
  margin-bottom: 150px; }

.container {
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #d15d4a;
  -webkit-box-shadow: 5px 5px #45423d, 4px 4px #45423d, 3px 3px #45423d, 2px 2px #45423d, 1px 1px #45423d;
          box-shadow: 5px 5px #45423d, 4px 4px #45423d, 3px 3px #45423d, 2px 2px #45423d, 1px 1px #45423d;
  margin-bottom: 200px; }

.prod-description {
  padding: 10px 0;
  margin-top: 20px;
  border-top-style: double;
  border-top-color: #45423d;
  border-top-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #45423d;
  border-bottom-width: 1px; }
  .prod-description .add-to-cart {
    border-radius: 3px;
    font-family: "Quattrocento Sans", sans-serif;
    border: none;
    background: #978a6f;
    padding: 10px 15px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .prod-description .add-to-cart:hover {
      background: #cdc6b9; }
    .prod-description .add-to-cart:active {
      background: #8a7d63; }

.coven-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.witch {
  padding: 10px;
  max-width: 300px; }

.img-container {
  max-width: 300px;
  max-height: 180px;
  overflow: hidden; }
  .img-container img {
    -o-object-fit: fill;
       object-fit: fill;
    -webkit-filter: sepia(60%);
            filter: sepia(60%); }

#shopping-cart {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); }

.shopping-cart-content {
  position: relative;
  margin: 15% auto;
  background: #d7d2c8;
  -webkit-box-shadow: 5px 5px #45423d, 4px 4px #45423d, 3px 3px #45423d, 2px 2px #45423d, 1px 1px #45423d;
          box-shadow: 5px 5px #45423d, 4px 4px #45423d, 3px 3px #45423d, 2px 2px #45423d, 1px 1px #45423d;
  padding: 10px;
  width: 72%; }

.table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .table ul {
    list-style: none; }

.fade-in-fwd {
  -webkit-animation: fade-in-fwd 0.4s ease-in both;
  animation: fade-in-fwd 0.4s ease-in both; }

/* ----------------------------------------------
 * Generated by Animista on 2018-3-31 17:30:5
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation fade-in-fwd
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; } }

@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; } }

.close {
  color: #45423d;
  position: absolute;
  top: 0px;
  right: 5px;
  font-size: 3rem;
  font-weight: bold; }
  .close:hover, .close:focus {
    color: #d24937;
    cursor: pointer; }

.fade-out-bck {
  -webkit-animation: fade-out-bck 0.4s ease-out both;
  animation: fade-out-bck 0.4s ease-out both; }

@-webkit-keyframes fade-out-bck {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0; } }

@keyframes fade-out-bck {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0; } }

footer {
  max-width: 80%;
  background: #d15d4a;
  border-width: 8px;
  border-style: double;
  border-color: #45423d;
  margin-bottom: 10px;
  position: relative;
  padding: 20px 0;
  bottom: -90px;
  left: 10%;
  right: 10%; }
  footer ul {
    list-style: none; }
    footer ul li {
      line-height: 40px; }
    footer ul a {
      text-decoration: none;
      color: #0f0e0d;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      footer ul a:hover {
        color: #c2baaa; }

footer .wrapper {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.social a {
  text-decoration: none;
  color: #0f0e0d;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .social a:hover {
    color: #c2baaa; }

.connect form {
  width: 100%; }

.connect #email {
  background: #d24937;
  border-style: none;
  border-bottom: 2px solid #45423d;
  padding: 10px;
  max-width: 300px;
  width: 72%;
  margin-bottom: 40px; }

.connect #submit {
  background: #d24937;
  color: #45423d;
  border-style: none;
  padding: 10px 15px;
  border-bottom: 2px solid #45423d;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .connect #submit:hover {
    background: #c2baaa; }

.connect h3 {
  color: #c2baaa; }
