$title-font: 'Quattrocento', serif;

$body-font:  'Quattrocento Sans', sans-serif;

body {
    font-family: $body-font;
    font-size: 16px;
}

h1 {
    font-size: 4rem;
    text-align: center;
    font-family: $title-font;
    color:$red;
    text-shadow: 3px 3px 0px $black, 2px 2px 0px $black, 1px 1px 0px $black;
}

.title {
    width:100%;
}

.title::before {
    content: 'est. 1693';
    color: $black;
    text-shadow: none;
    font-size: 12px;
    margin-right:12px;
}

.title::after {
    content: 'Salem, MA';
    color: $black;
    text-shadow: none;
    font-size: 12px;
    margin-left:14px;
}

h2 {
    text-align: center;
    color:$soft-red;
    text-shadow: 1px 1px 0px $black;
}

#products h2 {
  transform: rotate(-90deg);
  transform-origin: 0%;
  text-align: left;
  position: absolute;
  left:-10px;
}

.potionInfo h2 {
    top:72px;
}

.charmInfo h2 {
    top:75px;
}

.curseInfo h2 {
    top:66px;
}